@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;

    /* replace colors from here... */
    --light-mode-background: 224 235 255;
    --light-mode-foreground: 79 131 255;
    --light-mode-foreground-muted: 58 107 223;
    --light-mode-icon-link-background: 255 255 255;
    --light-mode-icon-link-background-hover: 224 235 255;
    --light-mode-icon-link-outline: 58 107 223;
    --light-mode-icon-link-outline-hover: 79 131 255;
    --light-mode-icon-link-text: 79 131 255;
    --light-mode-icon-link-text-hover: 79 131 255;
    --light-mode-custom-link-background: 255 255 255;
    --light-mode-custom-link-background-hover: 224 235 255;
    --light-mode-custom-link-outline: 58 107 223;
    --light-mode-custom-link-outline-hover: 79 131 255;
    --light-mode-custom-link-text: 79 131 255;
    --light-mode-custom-link-text-hover: 79 131 255;
    --dark-mode-background: 79 131 255;
    --dark-mode-foreground: 224 235 255;
    --dark-mode-foreground-muted: 191 209 255;
    --dark-mode-icon-link-background: 58 107 223;
    --dark-mode-icon-link-background-hover: 51 95 201;
    --dark-mode-icon-link-outline: 191 209 255;
    --dark-mode-icon-link-outline-hover: 224 235 255;
    --dark-mode-icon-link-text: 224 235 255;
    --dark-mode-icon-link-text-hover: 224 235 255;
    --dark-mode-custom-link-background: 58 107 223;
    --dark-mode-custom-link-background-hover: 51 95 201;
    --dark-mode-custom-link-outline: 191 209 255;
    --dark-mode-custom-link-outline-hover: 224 235 255;
    --dark-mode-custom-link-text: 224 235 255;
    --dark-mode-custom-link-text-hover: 224 235 255;
    /* ...to here */
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }

  .cinzel-text {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
