<footer
  class="pt-12 text-center text-xs text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
>
  <hr class="opacity-70" />
<p class="mt-2">
  <b>Disclaimer:</b> O site, drive, calendário e demais ferramentas são iniciativas para a melhor organização da sala. A organização e compromisso com atividades e tarefas da faculdades são <b>responsabilidade exclusiva de cada aluno</b>.</p>
  <a href="https://treelink.app" class="block py-4 no-underline opacity-70 hover:text-darkModeForeground dark:hover:text-darkModeForeground"
    >Built with Astro Link</a
  >
</footer>
